@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*{
    font-family: "DM sans", sans-serif;

}
.head-item{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

.head-item-2{
    color: #1E0E62;

    font-weight: 700;
    size: 58px;
    
}
.log-btn{
    margin-right: 50%;
    margin-top: 70%;
    color: #25DAC5
}
@media screen and (max-width: 650px){
    .lining{
        display: none;
    }
    .first{
        margin-top: 50px;
        text-align: center;
    }
    .head-item-3{
        line-break: none;
    }
    .log-btn{
        
        margin-top: 2%;
    }
    .linebreak{
        display: none;
    }
}


.head-item-3{
    color: rgba(21, 20, 57, 0.4);
    font-weight: 500;
    margin-top: 4%;
    position: relative;
}
.head-btn{
    background-color: #E93A7D;
    border-radius: 100px;
    color: #fff;
    position: relative;
    Fill: Solid;
    padding: 10px 40px;
    margin-top: 3%;
    outline: none;
    border: 0;
    box-shadow: none;
}
.btn-11{
    background-color: #25DAC5;
    color: #fff;
    padding: 7px 18px;
    border-radius: 100px;
    position: relative;
    margin-left: 2%;
    outline: none;
    border: 0;
    box-shadow: none;
}
.btn-111{
    background-color: transparent;
    color: #25DAC5;
    padding: 7px 18px;
    border-radius: 100px;
    position: relative;
    margin-left: 2%;
    outline: none;
    border: 0;
    box-shadow: none;
}
.log-btn, ul, li{
    list-style: none;
}
.sss{
    color: #25DAC5;
    text-align: left;
}
    
@media screen and (min-width: 1023px) and (max-width: 1400px){
    .container{max-width: 900px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .row {
        display: flex;
      }
      
      .column {
        flex: 20%;
      }
      .img-wid{
        width: 100%;
      }
      .wife{
        width: 100%;
      }
}